<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ .inertiaHead }}

    {{ if .hmr }}

    <script type="module">
        import RefreshRuntime from '{{ vite "@react-refresh" }}'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => { }
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
    </script>
    {{ end }}
</head>

<body class="font-sans antialiased">
    {{ .inertia }}
    <script type="module" src="{{ vite "resources/js/app.jsx" }}"></script>
</body>

</html>
