<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "metatags" .}}
        {{template "css" .}}
    </head>
    <body>
        <section class="hero is-info is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-half">
                            <h1 class="title">Log in</h1>
                            <div class="box">
                                {{template "content" .}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>