<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "metatags" .}}
        {{template "css" .}}
    </head>
    <body>
        <nav class="navbar is-dark">
            <div class="container">
                <div class="navbar-brand">
                    <a href="{{call .Reverse "home"}}" class="navbar-item">{{.AppName}}</a>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        {{link (call .Reverse "home") "Home" .Path "navbar-item"}}
                        {{link (call .Reverse "about") "About" .Path "navbar-item"}}
                        {{link (call .Reverse "contact") "Contact" .Path "navbar-item"}}
                        {{- if .IsAuth}}

                        {{- else}}
                            {{link (call .Reverse "login") "Login" .Path "navbar-item"}}
                        {{- end}}
                    </div>
                </div>
            </div>
        </nav>

        <section class="section">
            <div class="container">
            {{- if .Title}}
                <h1 class="title">{{.Title}}</h1>
            {{- end}}

            {{template "messages" .}}
            {{template "content" .}}
            </div>
        </section>
    </body>
</html>