{{define "content"}}
    {{if ge .StatusCode 500}}
        <p>Please try again.</p>
    {{else if  or (eq .StatusCode 403) (eq .StatusCode 401)}}
        <p>You are not authorized to view the requested page.</p>
    {{else if eq .StatusCode 404}}
        <p>Click {{link (call .ToURL "home") "here" .Path}} to return home</p>
    {{else}}
        <p>Something went wrong</p>
    {{end}}
{{end}}