<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "metatags" .}}
        {{template "css" .}}
        {{template "js" .}}
    </head>
    <body>
        <section class="hero is-info is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-half">
                            {{- if .Title}}
                                <h1 class="title">{{.Title}}</h1>
                            {{- end}}
                            <div class="box">
                                {{template "messages" .}}
                                {{template "content" .}}

                                <div class="content is-small has-text-centered" hx-boost="true">
                                    <a href="{{call .ToURL "login"}}">Login</a> &#9676;
                                    <a href="{{call .ToURL "register"}}">Create an account</a> &#9676;
                                    <a href="{{call .ToURL "forgot_password"}}">Forgot password?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{template "footer"}}
    </body>
</html>