<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "metatags" .}}
        {{template "css" .}}
        {{template "js" .}}
    </head>
    <body>
        <nav class="navbar is-dark">
            <div class="container" hx-boost="true">
                <div class="navbar-brand">
                    <a href="{{call .ToURL "home"}}" class="navbar-item">{{.AppName}}</a>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        {{link (call .ToURL "home") "Home" .Path "navbar-item"}}
                        {{link (call .ToURL "about") "About" .Path "navbar-item"}}
                        {{link (call .ToURL "contact") "Contact" .Path "navbar-item"}}
                        {{- if .IsAuth}}
                            {{link (call .ToURL "logout") "Logout" .Path "navbar-item"}}
                        {{- else}}
                            {{link (call .ToURL "login") "Login" .Path "navbar-item"}}
                        {{- end}}
                    </div>
                </div>
            </div>
        </nav>

        <section class="section">
            <div class="container">
                {{- if .Title}}
                    <h1 class="title">{{.Title}}</h1>
                {{- end}}

                {{template "messages" .}}
                {{template "content" .}}
            </div>
        </section>
    </body>
</html>